:root {
    --holberton-red: #e1484c;
}

body {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

div {
    padding: 2px 8px;
}

.App {
    position: relative;
    min-height: 100vh;
}